#background-image {
    background: url("../assets/images/2.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

#bg-overlay {
    background-color: rgba(0,0,0,0.56);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.main {
    position: absolute;
    font-family: Tahoma, Geneva, sans-serif;
    z-index: 3;
	color: #f1f1f1;
    top: 25%;
	left: 50%;
    margin-left: -292px;
    text-align: center;
}

.header {
    font-size: 100px;
    margin: 0 0;
    letter-spacing: -2px;
}

.sub-header {
    font-size: 38px;
    margin: 0 0 20;
    letter-spacing: 3px;
    text-shadow: 2px 2px #464141;
    color: #cdd1d3;
    font-family: 'jpn'
}

.tag-line {
    font-size: 22px;
    letter-spacing: 3.5px;
    text-shadow: 2px 2px #464141;
    color: #e7e9ec;
}

.button-row {
    list-style: none;
    font-size: 70px;
    padding-left: 0;
    margin-top: 30px;
}

.button-row li {
    display: inline;
    padding: 0 5;
}

.button-row li a {
    text-decoration: none;
    color: #afb9bf;
}

.button-row li a:hover {
    font-size: 75px;
    padding: 0, 1;
    color: #f1f1f1;
}

@media (max-width: 650px) {

	.main {
		margin-left: -215px;
	}

	.header {
		font-size: 75px;
	}

	.sub-header {
		font-size: 25px;
	}

	.tag-line {
		font-size: 15px;
	}

	.button-row {
		margin-top: 20px;
		font-size: 70px;
	}

	.button-row li a:hover {
		font-size: 75px;
		padding: 0, 1;
		color: #f1f1f1;
	}
}

@media (max-width: 480px) {

	.main {
		margin-left: -172px;
	}

	.header {
		font-size: 50px;
	}

	.sub-header {
		font-size: 13px;
		margin-bottom: 15px;
	}

	.tag-line {
		font-size: 10px;
	}

	.button-row {
		margin-top: 15px;
		font-size: 58px;
	}

	.button-row li a:hover {
		font-size: 60px;
		padding: 0, 1;
		color: #f1f1f1;
	}
}

@font-face {
  font-family: 'jpn';
  src: url('../assets/Zpix.ttf')  format('truetype')
}
